html, body {
    height: 100%;
}

html {
    background-color: rgb(39, 35, 35);
    color: rgb(209, 107, 107);
}

    body {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        header {

        }

        footer {
            height: 8%;
            background-color: rgb(165, 159, 159);
        }

            #taskbar {
                font-size: xx-large;
            }