html, body {
    height: 100%;
}

html {

}

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

        header {

        }

        #desktop {
            width: 100%;
            height: fit-content;
            overflow: hidden;
            pointer-events: none;
        }

        #taskbar {
            display: flex;
            flex-direction: row;
            height: 8%;

            background-color: rgb(165, 159, 159);
            border-top: 2px solid lightgray;
            font-size: xx-large;
        }

            .taskbar_icon {
                aspect-ratio: 1/1;
                height: auto;
                margin: 2px;

                border-radius: 15%;
                background-color: red;
            }

            #clock {
                align-content: center;
                aspect-ratio: 1/1;
                margin: 5px;
                margin-left: auto;
                text-align: center;

                color: black;
                font-size: medium;
            }