html, body {
    height: 100%;
}

html {
    background-color: rgb(39, 35, 35);
    color: rgb(209, 107, 107);
}

    body {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-image: url("background.jpg");
    }

        header {

        }

        #taskbar {
            background-color: rgb(165, 159, 159);
            font-size: xx-large;

            display: flex;
            flex-direction: row;
            height: 8%;
        }

            .taskbar_icon {
                width: 50px;
                height: 50px;

                background-color: red;
            }